.site-branding-container {
  transition: background-color 300ms;
  background-color: transparent;
  z-index: 9999;

  &.sticky {
    background-color: rgba(0, 105, 204, 0.61);
  }

  .site-branding {
    display: flex;

    .site-logo {
      display: flex;
      align-items: center;
    }

    ul.main-menu {
      margin-left: auto;
      display: table;
      margin-bottom: 0;

      > li {
        display: inline-flex;
        list-style-type: none;

        &.current-menu-item > a, &:hover > a {
          color: #000;
        }

        > a {
          padding: 30px 20px;
          color: #fff;
          text-decoration: none;
        }
      }

      a {
        font-size: 16px;
        font-weight: 600;
        font-family: Roboto,"Helvetica Neue";
      }

      li.button-premium {
        padding-left: 50px;
        padding-right: 50px;

        a {
          padding: 12px 50px;
          transition: all 0.2s ease;
          border-radius: 100px;
          background: linear-gradient(to left, rgba(0, 105, 204, 0.92) 50%, #000000 50%);
          background-size: 200% 100%;
          background-position: right bottom;
          color: #fff !important;

          &:hover {
            background-position: left bottom;
          }
        }
      }
    }
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &:focus {
    outline: unset;
  }
}
.main-navigation{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  a{
    text-decoration: none;
  }
  .main-menu{
    list-style-type: none;
    .menu-item{
      display: inline-block;
      &:not(.menu-item-has-children)> a .sub-arrow{
        display: none;
      }
      .sub-arrow{
        font-size: 16px;
        line-height: 1;
        padding: 10px 0 10px 10px;
        i{
          pointer-events: none;
        }
      }
    }
    a{
      color: #262a2b;
      font-size: 14px;
      font-weight: 600;
    }
    >li {
      > a {
        color: #262a2b;
        padding: 40px 20px;
        position: relative;
        &:after {
          background-color: #ffffff;
          content: ' ';
          height: 3px;
          width: 100%;
          left: 0;
          bottom: 0;
          opacity: 0;
          display: block;
          position: absolute;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          -webkit-transition-timing-function: cubic-bezier(.58, .3, .005, 1);
          -o-transition-timing-function: cubic-bezier(.58, .3, .005, 1);
          transition-timing-function: cubic-bezier(.58, .3, .005, 1);
        }
      }
      &:hover {

          &:after {
            opacity: 1;
          }

      }

    }
    .button-search i{
      font-size: 25px;
    }
  }
}
.main-navigation .main-menu ul{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  background: #fff;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 83px;
  padding-left: 0;
  margin: 0;
  pointer-events: none;
  position: absolute;

  visibility: hidden;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  min-width: 225px;
  z-index: 99;
}
.main-navigation .main-menu ul ul{
  left:100%;
  top:0;
}
.main-navigation .main-menu li li,.main-navigation-mobile  .main-menu li li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  width: 100%;
  letter-spacing: -0.5px;
}
.main-navigation .main-menu li {
  position: relative;
  margin: 0;
  text-align: left;
  list-style: none;
}
.main-navigation .main-menu li li a,.main-navigation-mobile  .main-menu li li a{
  color: #4b4e53;
  display: block;
  min-width: 180px;
  padding: 13px 13px 13px 35px;
  text-decoration: none;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  outline: none;
  position: relative;
}
.main-navigation .main-menu li:hover > ul, .main-navigation .main-menu li:focus > ul,.main-navigation-mobile  .main-menu li:hover > ul,.main-navigation-mobile  .main-menu li:focus > ul {
  border-left: 0;
  clip: inherit;
  pointer-events: inherit;
  visibility: visible;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
#cshero-menu-mobile {
  .icon_menu {
    float: left;
    margin: 7px 0 0;
    padding-bottom: 0;
    padding-top: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 300;
    height: 46px;
    width: 46px;
  }

  .text {
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    padding: 23px 15px 0 0;
  }

}

.main-navigation-mobile {
  display: -webkit-box;
  background-color: #565a60;

  a {
    text-decoration: none;
  }
  .menu-main-menu-container{
    width: 100%;
  }
  .main-menu {
    list-style-type: none;

    .menu-item {
      display: block;

      &:not(.menu-item-has-children) > a .sub-arrow {
        display: none;
      }

      .sub-arrow {
        font-size: 16px;
        line-height: 1;
        padding: 10px 0 10px 10px;

        i {
          pointer-events: none;
        }
      }
    }

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }

    > li {
      > a {
        color: #fff;
        position: relative;
      }

    }

    a {
      font-size: 16px;
      font-weight: 600;
    }

    li.button-premium {

      a {
        padding: 12px 50px;
        transition: all 0.2s ease;
        border-radius: 100px;
        background: linear-gradient(to left, rgba(0, 105, 204, 0.92) 50%, #000000 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        color: #fff !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        text-align: center;
        &:hover {
          background-position: left bottom;
        }
      }
    }
  }

  .button-search {
    padding: 15px 0;

    input[type="text"] {
      width: 100%;
      border-radius: 0;
      color: #565a60;
      line-height: 21px;
      height: 45px;
      padding: 8px;
      border: none;
      font-size: 14px;
      font-weight: 300;
    }

    input[type="submit"] {
      background: #ffea00;
      border: medium none;
      color: #565a60;
      font-size: 14px;
      height: 45px;
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      right: 0;
      top: 16px;
      filter: alpha(opacity=1 * 100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 !important * 100)";
      -webkit-opacity: 1 !important;
      -khtml-opacity: 1 !important;
      -moz-opacity: 1 !important;
      -ms-opacity: 1 !important;
      -o-opacity: 1 !important;
      opacity: 1 !important;
      -webkit-transition: all 0.3s ease 0s;
      -khtml-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      border-radius: 0;
      width: auto !important;
      z-index: 20;
    }
  }

  li {
    list-style-type: none;
  }

  &.show {

  }

  .main-menu {
    padding-right: 15px;
    padding-left: 15px;

    > li:not(:last-child) {
      float: none;
      list-style: none;
      margin: 0 0 3px;
      text-align: left;
      position: relative;

      > a {
        background: #565a60;
        display: block;
        border: none;
        font-weight: 300;
        margin: 0;
        line-height: 30px !important;
        padding: 7px 9px 7px 60px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        height: 45px;
        color: #fff;
        text-transform: uppercase;

        &:before {
          content: "";
          font-size: 28px;
          left: 14px;
          position: absolute;
          top: 0px;
          left: 0;
          color: #565a60;
          background: #fff;
          width: 45px;
          height: 45px;
          line-height: 45px;
          text-align: center;
        }
      }
    }
  }

  ul.main-menu > li:not(:last-child) > ul.sub-menu {
    background: #fff;
    box-shadow: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100% !important;
    padding: 0 0 5px 30px;

    li {
      border-top: 1px solid #dfe2e3;

      a {
        font-size: 14px;
        line-height: 22px;
        color: #7f7f7f;
        padding: 10px 10px 10px 0 !important;
        display: block;
      }
    }

    ul {

    }
  }

  ul.main-menu > li:not(:last-child) > ul.sub-menu {
    padding: 0 0 5px 90px;
  }

  ul.main-menu > li:not(:last-child) > ul.sub-menu .cs-menu-toggle {
    display: none;
  }

  ul.main-menu > li:not(:last-child) > ul.sub-menu:nth-child(1) > li:nth-child(1) {
    border-top: 0;
  }

  .main-menu > li:not(:last-child) .cs-menu-toggle {
    display: block;
    left: 14px;
    position: absolute;
    top: 0px;
    left: 0;
    cursor: pointer;

    span {
      display: block !important;
      color: #565a60;
      background: #fff;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;

      &:before {
        content: "+";
        font-size: 28px;
      }
    }
  }

  .main-menu > li:not(.menu-item-has-children):not(:last-child) .cs-menu-toggle span:before {
    display: none;
  }

}

.main-navigation-mobile .main-menu li li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  width: 100%;
  letter-spacing: -0.5px;
}

.main-navigation-mobile .main-menu li li a {
  color: #4b4e53;
  display: block;
  min-width: 180px;
  padding: 13px 13px 13px 35px;
  text-decoration: none;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  outline: none;
  position: relative;
}

.main-navigation-mobile .main-menu li:hover > ul, .main-navigation-mobile .main-menu li:focus > ul {
  border-left: 0;
  clip: inherit;
  pointer-events: inherit;
  visibility: visible;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}