@charset "UTF-8";
/*
Theme Name: Incomda One
Theme URI: http://sapacloud.com/incomda-one/
Author: Incomda Corporation
Author URI: https://webs.incomda.com
Description: Our 2019 default theme is designed to show off the power of the block editor. It features custom styles for all the default blocks, and is built so that what you see in the editor looks like what you'll see on your website. Incomda Theme is designed to be adaptable to a wide range of websites, whether you’re running a photo blog, launching a new business, or supporting a non-profit. Featuring ample whitespace and modern sans-serif headlines paired with classic serif body text, it's built to be beautiful on all screen sizes.
Requires at least: WordPress 4.9.6
Version: 1.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: incomda
Tags: one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* Content */
body {
  overflow-x: hidden; }

@font-face {
  font-family: 'Elusive-Icons';
  src: url(fonts/elusiveicons-webfont.ttf) format("truetype"), url(fonts/elusiveicons-webfont.eot), url(fonts/elusiveicons-webfont.svg) format("svg"), url(fonts/elusiveicons-webfont.woff); }

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-branding-container {
  transition: background-color 300ms;
  background-color: transparent;
  z-index: 9999; }
  .site-branding-container.sticky {
    background-color: rgba(0, 105, 204, 0.61); }
  .site-branding-container .site-branding {
    display: flex; }
    .site-branding-container .site-branding .site-logo {
      display: flex;
      align-items: center; }
    .site-branding-container .site-branding ul.main-menu {
      margin-left: auto;
      display: table;
      margin-bottom: 0; }
      .site-branding-container .site-branding ul.main-menu > li {
        display: inline-flex;
        list-style-type: none; }
        .site-branding-container .site-branding ul.main-menu > li.current-menu-item > a, .site-branding-container .site-branding ul.main-menu > li:hover > a {
          color: #000; }
        .site-branding-container .site-branding ul.main-menu > li > a {
          padding: 30px 20px;
          color: #fff;
          text-decoration: none; }
      .site-branding-container .site-branding ul.main-menu a {
        font-size: 16px;
        font-weight: 600;
        font-family: Roboto,"Helvetica Neue"; }
      .site-branding-container .site-branding ul.main-menu li.button-premium {
        padding-left: 50px;
        padding-right: 50px; }
        .site-branding-container .site-branding ul.main-menu li.button-premium a {
          padding: 12px 50px;
          transition: all 0.2s ease;
          border-radius: 100px;
          background: linear-gradient(to left, rgba(0, 105, 204, 0.92) 50%, #000000 50%);
          background-size: 200% 100%;
          background-position: right bottom;
          color: #fff !important; }
          .site-branding-container .site-branding ul.main-menu li.button-premium a:hover {
            background-position: left bottom; }

.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }
  .navbar-toggle:focus {
    outline: unset; }

.main-navigation {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }
  .main-navigation a {
    text-decoration: none; }
  .main-navigation .menu-main-menu-container, .main-navigation .main-menu {
    width: 100%; }
  .main-navigation .main-menu {
    list-style-type: none; }
    .main-navigation .main-menu .menu-item {
      display: inline-block; }
      .main-navigation .main-menu .menu-item:not(.menu-item-has-children) > a .sub-arrow {
        display: none; }
      .main-navigation .main-menu .menu-item .sub-arrow {
        font-size: 16px;
        line-height: 1;
        padding: 10px 0 10px 10px; }
        .main-navigation .main-menu .menu-item .sub-arrow i {
          pointer-events: none; }
    .main-navigation .main-menu a {
      color: #262a2b;
      font-size: 14px;
      font-weight: 600; }
    .main-navigation .main-menu > li > a {
      color: #262a2b;
      padding: 40px 20px;
      position: relative; }
      .main-navigation .main-menu > li > a:after {
        background-color: #ffffff;
        content: ' ';
        height: 3px;
        width: 100%;
        left: 0;
        bottom: 0;
        opacity: 0;
        display: block;
        position: absolute;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
        -o-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
        transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1); }
    .main-navigation .main-menu > li:hover:after {
      opacity: 1; }
    .main-navigation .main-menu .button-search i {
      font-size: 25px; }

.main-navigation .main-menu ul {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  background: #fff;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 83px;
  padding-left: 0;
  margin: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  min-width: 225px;
  z-index: 99; }

.main-navigation .main-menu ul ul {
  left: 100%;
  top: 0; }

.main-navigation .main-menu li li, .main-navigation-mobile .main-menu li li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  width: 100%;
  letter-spacing: -0.5px; }

.main-navigation .main-menu li {
  position: relative;
  margin: 0;
  text-align: left;
  list-style: none; }

.main-navigation .main-menu li li a, .main-navigation-mobile .main-menu li li a {
  color: #4b4e53;
  display: block;
  min-width: 180px;
  padding: 13px 13px 13px 35px;
  text-decoration: none;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  outline: none;
  position: relative; }

.main-navigation .main-menu li:hover > ul, .main-navigation .main-menu li:focus > ul, .main-navigation-mobile .main-menu li:hover > ul, .main-navigation-mobile .main-menu li:focus > ul {
  border-left: 0;
  clip: inherit;
  pointer-events: inherit;
  visibility: visible;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1; }

#cshero-menu-mobile .icon_menu {
  float: left;
  display: block;
  position: relative; }
  #cshero-menu-mobile .icon_menu .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all 0.2s;
    transform-origin: 10% 10%;
    background-color: #fff;
    transform: rotate(0);
    margin-top: 7.5px;
    margin-left: 10px;
    margin-right: 10px; }
    #cshero-menu-mobile .icon_menu .icon-bar + .icon-bar {
      margin-top: 4px; }

#cshero-menu-mobile button[aria-expanded=true] .icon-bar.top-bar {
  transform: rotate(45deg); }

#cshero-menu-mobile button[aria-expanded=true] .icon-bar.bottom-bar {
  transform: rotate(-45deg);
  margin-left: 9px; }

#cshero-menu-mobile button[aria-expanded=true] .icon-bar.middle-bar {
  opacity: 0; }

#cshero-menu-mobile .text {
  color: #fff;
  float: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  padding: 7px 15px 0 0; }

.main-navigation-mobile {
  display: -webkit-box;
  background-color: #565a60; }
  .main-navigation-mobile a {
    text-decoration: none; }
  .main-navigation-mobile .menu-main-menu-container {
    width: 100%; }
  .main-navigation-mobile .main-menu {
    list-style-type: none; }
    .main-navigation-mobile .main-menu .menu-item {
      display: block; }
      .main-navigation-mobile .main-menu .menu-item:not(.menu-item-has-children) > a .sub-arrow {
        display: none; }
      .main-navigation-mobile .main-menu .menu-item .sub-arrow {
        font-size: 16px;
        line-height: 1;
        padding: 10px 0 10px 10px; }
        .main-navigation-mobile .main-menu .menu-item .sub-arrow i {
          pointer-events: none; }
    .main-navigation-mobile .main-menu a {
      color: #fff; }
    .main-navigation-mobile .main-menu > li > a {
      color: #fff;
      position: relative; }
    .main-navigation-mobile .main-menu li.button-premium a {
      padding: 12px 50px;
      transition: all 0.2s ease;
      border-radius: 100px;
      background: linear-gradient(to left, rgba(0, 105, 204, 0.92) 50%, #000000 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      color: #fff !important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      display: block;
      text-align: center; }
      .main-navigation-mobile .main-menu li.button-premium a:hover {
        background-position: left bottom; }
  .main-navigation-mobile .button-search {
    padding: 15px 0; }
    .main-navigation-mobile .button-search input[type="text"] {
      width: 100%;
      border-radius: 0;
      color: #565a60;
      line-height: 21px;
      height: 45px;
      padding: 8px;
      border: none;
      font-size: 14px;
      font-weight: 300; }
    .main-navigation-mobile .button-search input[type="submit"] {
      background: #ffea00;
      border: medium none;
      color: #565a60;
      font-size: 14px;
      height: 45px;
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
      right: 0;
      top: 16px;
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1 !important * 100)";
      -webkit-opacity: 1 !important;
      -khtml-opacity: 1 !important;
      -moz-opacity: 1 !important;
      -ms-opacity: 1 !important;
      -o-opacity: 1 !important;
      opacity: 1 !important;
      -webkit-transition: all 0.3s ease 0s;
      -khtml-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      border-radius: 0;
      width: auto !important;
      z-index: 20; }
  .main-navigation-mobile li {
    list-style-type: none; }
  .main-navigation-mobile .main-menu {
    padding-right: 15px;
    padding-left: 15px; }
    .main-navigation-mobile .main-menu > li:not(.button-premium) {
      float: none;
      list-style: none;
      margin: 0 0 3px;
      text-align: left;
      position: relative; }
      .main-navigation-mobile .main-menu > li:not(.button-premium) > a {
        background: #565a60;
        display: block;
        border: none;
        font-weight: 300;
        margin: 0;
        line-height: 30px !important;
        padding: 7px 9px 7px 60px;
        text-align: left;
        text-decoration: none;
        width: 100%;
        height: 45px;
        color: #fff;
        text-transform: uppercase; }
        .main-navigation-mobile .main-menu > li:not(.button-premium) > a:before {
          content: "";
          font-size: 28px;
          left: 14px;
          position: absolute;
          top: 0px;
          left: 0;
          color: #565a60;
          background: #fff;
          width: 45px;
          height: 45px;
          line-height: 45px;
          text-align: center; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu {
    background: #fff;
    box-shadow: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100% !important;
    padding: 0 0 5px 30px; }
    .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu li {
      border-top: 1px solid #dfe2e3; }
      .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu li a {
        font-size: 14px;
        line-height: 22px;
        color: #7f7f7f;
        padding: 10px 10px 10px 0 !important;
        display: block; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu {
    padding: 0 0 5px 90px; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu .cs-menu-toggle {
    display: none; }
  .main-navigation-mobile ul.main-menu > li:not(:last-child) > ul.sub-menu:nth-child(1) > li:nth-child(1) {
    border-top: 0; }
  .main-navigation-mobile .main-menu > li:not(:last-child) .cs-menu-toggle {
    display: block;
    left: 14px;
    position: absolute;
    top: 0px;
    left: 0;
    cursor: pointer; }
    .main-navigation-mobile .main-menu > li:not(:last-child) .cs-menu-toggle span {
      display: block !important;
      color: #565a60;
      background: #fff;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center; }
      .main-navigation-mobile .main-menu > li:not(:last-child) .cs-menu-toggle span:before {
        content: "+";
        font-size: 28px; }
  .main-navigation-mobile .main-menu > li:not(.menu-item-has-children):not(:last-child) .cs-menu-toggle span:before {
    display: none; }

.main-navigation-mobile .main-menu li li {
  margin: 0;
  padding: 0;
  font-size: 13px;
  width: 100%;
  letter-spacing: -0.5px; }

.main-navigation-mobile .main-menu li li a {
  color: #4b4e53;
  display: block;
  min-width: 180px;
  padding: 13px 13px 13px 35px;
  text-decoration: none;
  line-height: 24px;
  font-weight: 400;
  white-space: nowrap;
  outline: none;
  position: relative; }

.main-navigation-mobile .main-menu li:hover > ul, .main-navigation-mobile .main-menu li:focus > ul {
  border-left: 0;
  clip: inherit;
  pointer-events: inherit;
  visibility: visible;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-opacity: 1;
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1; }

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
footer .powered {
  margin-left: 10px;
  font-size: 10px; }
  footer .powered:hover {
    text-decoration: none;
    color: #333c4e; }

footer ul {
  list-style-type: none;
  padding-left: 0; }

footer .widget-title {
  color: rgba(28, 28, 28, 0.91);
  font-size: 22px;
  font-weight: 500;
  height: 35px; }

footer .wpcf7-text {
  border: 1px solid #c9c9c9;
  color: #7a7a7a;
  padding: 5px 14px;
  width: 100%;
  outline: none;
  font-size: 13px; }

footer .wpcf7-form-control {
  margin-bottom: 10px; }

footer .wpcf7-submit {
  outline: none;
  background-color: #000000;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 4.9px;
  padding: 12px 24px;
  width: 100%;
  -webkit-appearance: meter;
  color: #fff;
  transition: all .5s; }
  footer .wpcf7-submit:hover {
    background-color: #0069cc; }

footer .widget-column > .widget > *:first-child {
  margin-bottom: 50px;
  display: block; }

footer li {
  color: #333c4e;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: calc(5px / 2); }

footer a {
  color: #333c4e;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none; }
  footer a.tag-cloud-link {
    font-size: 15px !important; }
  footer a.imprint {
    font-size: 9px;
    color: #ccc;
    text-align: center; }

footer .footer-widgets {
  padding: 90px 0 40px 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  flex-flow: row wrap; }
  footer .footer-widgets .widget-area {
    display: flex;
    flex-flow: column; }

footer .site-info {
  background-color: rgba(0, 0, 0, 0.9); }
  footer .site-info .container {
    margin-top: 35px;
    margin-bottom: 35px; }
  footer .site-info span {
    display: -webkit-inline-box;
    font-size: 13px;
    font-weight: 300;
    color: #fff; }
    footer .site-info span .item {
      color: #fff;
      padding-left: 12px;
      padding-right: 12px; }

@media screen and (max-width: 768px) {
  footer .site-info .container {
    text-align: center; }
  footer .site-info span {
    border: none;
    margin-top: 15px;
    width: 100%;
    float: none !important;
    text-align: center;
    display: block; } }

.site-content {
  display: -webkit-box; }

.content-area {
  width: 100%; }

.blog-grid {
  margin-top: 40px; }
  .blog-grid .blog-article {
    margin-bottom: 28px;
    word-break: break-all; }
    .blog-grid .blog-article article {
      transition: all .3s;
      text-align: left; }
    .blog-grid .blog-article .post-thumbnail {
      margin-bottom: 0;
      background-color: rgba(0, 105, 204, 0.92);
      height: 254px; }
    .blog-grid .blog-article .entry img {
      max-width: 100%;
      vertical-align: middle;
      height: 254px;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%; }
    .blog-grid .blog-article .article-container {
      padding: 36px 40px 42px;
      background: #fff;
      border: 1px solid rgba(0, 105, 204, 0.92);
      border-top: none !important; }
      .blog-grid .blog-article .article-container .entry-header {
        position: relative;
        padding-bottom: 10px;
        height: 57px; }
        .blog-grid .blog-article .article-container .entry-header:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 60px; }
        .blog-grid .blog-article .article-container .entry-header .entry-title {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          /* number of lines to show */
          line-height: 24px;
          /* fallback */
          height: 24px; }
      .blog-grid .blog-article .article-container .entry-title {
        margin: 0 0 3px;
        text-transform: uppercase;
        font-size: 15px;
        color: #2e3031;
        letter-spacing: .1em;
        line-height: 1.6; }
      .blog-grid .blog-article .article-container .entry-meta {
        font-size: 13px;
        font-weight: 400;
        color: #999; }
        .blog-grid .blog-article .article-container .entry-meta a {
          color: #313131; }
    .blog-grid .blog-article .entry-content {
      margin-top: 6px;
      font-size: 13px; }
      .blog-grid .blog-article .entry-content:before {
        content: "";
        display: table;
        table-layout: fixed; }
      .blog-grid .blog-article .entry-content p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-height: 20px;
        /* fallback */
        height: 40px; }
    .blog-grid .blog-article .screen-reader-text {
      border: 0;
      clip: rect(1px, 1px, 1px, 1px);
      -webkit-clip-path: inset(50%);
      clip-path: inset(50%);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute !important;
      width: 1px;
      word-wrap: normal !important; }
    .blog-grid .blog-article .more-link:after {
      content: "\f12f";
      padding-left: 4px;
      display: inline-block;
      font: normal normal normal 14px/1 'Elusive-Icons';
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 11px; }

@media (min-width: 1024px) {
  .hidden-md {
    display: none; } }

@media (max-width: 1023px) {
  .hidden-sm {
    display: none; } }

/* Widgets */
body.sidebar-right + .site-content {
  display: -webkit-box; }

body.page-template-page-right-sidebar .content-area {
  display: -webkit-box; }

.sidebar-cols label {
  display: unset; }

.sidebar-cols .widget ul {
  padding-left: 0; }
  .sidebar-cols .widget ul li {
    list-style-type: none; }

.sidebar-cols .widget-title {
  color: #000;
  font-family: "Work Sans", Quicksand;
  font-size: 32px; }

.sidebar-cols .search-field {
  height: 45px;
  padding: 15px;
  margin: 0;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background-color: #eceeef;
  line-height: 1;
  min-width: 0;
  font-size: 15px;
  -webkit-appearance: none;
  color: #7a7a7a;
  width: calc(100% - 45px);
  float: left;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.sidebar-cols .search-submit {
  height: 45px;
  width: 45px;
  float: left;
  background-color: #54595f;
  font-size: 16px;
  color: #fff;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-appearance: button-bevel;
  border: 0; }

.sidebar-cols > section {
  display: inline-block; }
  .sidebar-cols > section:not(:first-child) {
    margin-top: 40px; }

.sidebar-cols .widget_nav_menu a {
  border: 1px solid #0069cc;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0069cc;
  padding: 15px 55px 15px 55px;
  text-decoration: none;
  transition: all 0.5s; }
  .sidebar-cols .widget_nav_menu a:hover {
    background-color: transparent;
    color: #0069cc; }

.sidebar-cols .widget_nav_menu li {
  display: flex;
  margin-top: 30px; }

@media (min-width: 769px) {
  .sidebar-cols {
    border-left: 1px solid #e9e9e9;
    padding-left: 40px;
    padding-top: 40px; } }

/*# sourceMappingURL=style.css.map */