footer {
  .powered{
    margin-left: 10px;
    font-size: 10px;
    &:hover{
      text-decoration: none;
      color:#333c4e;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .widget-title {
    color: rgba(28, 28, 28, 0.91);
    font-size: 22px;
    font-weight: 500;
    height: 35px;
  }

  .wpcf7-text {
    border: 1px solid #c9c9c9;
    color: #7a7a7a;
    padding: 5px 14px;
    width: 100%;
    outline: none;
    font-size: 13px;
  }

  .wpcf7-form-control {
    margin-bottom: 10px;
  }

  .wpcf7-submit {
    outline: none;
    background-color: #000000;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4.9px;
    padding: 12px 24px;
    width: 100%;
    -webkit-appearance: meter;
    color: #fff;
    transition: all .5s;

    &:hover {
      background-color: #0069cc;
    }
  }

  .widget-column > .widget > *:first-child {
    margin-bottom: 50px;
    display: block;
  }

  li {
    color: #333c4e;

    font-size: 15px;
    font-weight: 300;
    padding-bottom: calc(5px / 2);
  }

  a {
    color: #333c4e;

    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    &.tag-cloud-link{
      font-size: 15px!important;
    }
    &.imprint {
      font-size: 9px;
      color: #ccc;
      text-align: center;
    }
  }
  .footer-widgets {
    padding: 90px 0 40px 0;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    flex-flow: row wrap;

    .widget-area {
      display: flex;
      flex-flow: column;
    }
  }

  .site-info {
    background-color: rgba(0, 0, 0, 0.9);

    .container {
      margin-top: 35px;
      margin-bottom: 35px;
    }

    span {
      display: -webkit-inline-box;
      font-size: 13px;
      font-weight: 300;
      color: #fff;

      .item {
        color: #fff;
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

}

@media screen and (max-width: 768px) {
  footer {
    .site-info {
      .container{
        text-align: center;
      }
      span {
        border: none;
        margin-top: 15px;
        width: 100%;
        float: none !important;
        text-align: center;
        display: block;

        .item {

        }
      }
    }
  }
}